@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .01em;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.6;
}

a:focus {
  opacity: 0.3;
}

input,
button {
  border: none;
}

.main-header {
  background-color: #f7e296;
}

.user-navigation-list,
.main-navigation-list,
.catalog-list,
.slider-control,
.info-list,
.category-list,
.service-navigation,
.partners-list {
  list-style-type: none;
}

.main-header-logo {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 48px;
  line-height: 58px; /* 48px * 1.2 */
  text-transform: uppercase;
}

.user-navigation-link,
.search-form-field,
.search-form-field + button,
.catalog-list-link {
  line-height: 36px;
}

.search-form-field,
.search-form-field::placeholder,
.search-form-field + button {
  padding: 2px 0 0;

  font: inherit;
  line-height: 36px;
  letter-spacing: .01em;
  color: #000000;

  background-color: transparent;
  border-bottom: 2px solid transparent;
}

.search-form-field {
  padding-left: 40px;
  opacity: 0.3;
}

.search-form-field + button {
  display: none;
  margin-left: -4px;
  padding: 0 19px;
  border: 2px solid transparent;
}

.search-form-field + button:hover {
  display: inline;
  color: #FFFFFF;
  background-color: #000000;
}

.search-form-field + button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-form-field:hover {
  opacity: 0.6;
}

.search-form-field:focus {
  border-color: transparent transparent #000000 transparent;
  opacity: 1;
  outline: 0;
}

.search-form-field:focus + button {
  display: inline;
  border-color: #000000;
}

.user-navigation-link {
  padding-left: 24px;
}

.main-navigation-link {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: .2em;
  /*line-height: 58px; !* 48px * 1.2 *!*/
  text-transform: uppercase;
}










.main-footer {
  background-color: #464646;
}

.main-footer a,
.main-footer p {
  color: #FFFFFF;
}

.main-footer .main-header-logo {
  color: #ffc600
}
