@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .01em;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover:not(.phone):not(.slide-info a) {
  opacity: 0.6;
}

a:focus:not(.phone) {
  opacity: 0.3;
}

input,
button {
  border: none;
}

h1,
.slide-info h3,
.service-item-title {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  letter-spacing: .01em;
}

h3 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: .01em;
}

/*.visually-hidden {*/
  /*display: none;*/
/*}*/

.main-header {
  background-color: #f7e296;
}

.user-navigation-list,
.main-navigation-list,
.catalog-list,
.slider-control,
.info-list,
.category-list,
.service-navigation,
.brands-list,
.breadcrumbs,
.sort-type,
.sort-direction,
.filter-list,
.pagination-list {
  list-style-type: none;
}

.main-header-logo {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 48px;
  line-height: 58px; /* 48px * 1.2 */
  text-transform: uppercase;
}

.user-navigation-link,
.search-form-field,
.search-form-field + .button,
.catalog-list-link {
  line-height: 36px;
}

.search-form-field {
  width: 352px;
  line-height: 44px;
  padding-left: 40px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  opacity: 0.3;
}

.search-form-field:hover {
  opacity: 0.6;
}

.search-form-field::placeholder {
  color: #000000;
}

.search-form-field:focus {
  border-color: #000000;
  opacity: 1;
}

.search-form-item .button {
  margin-left: -4px;
  padding: 5px 17px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  outline: none;
  visibility: hidden;
}

.search-form-item .button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.search-form:hover .search-form-item .button:focus {
  color: rgba(255, 255, 255, 0.6);
}

.search-form-field:focus + .button {
  visibility: visible;
}

.search-form:active .search-form-field {
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.search-form:active .search-form-item .button:active {
  visibility: visible;
}

.user-navigation-link {
  padding-left: 24px;
}

.main-navigation-link {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: .2em;
  /*line-height: 58px; !* 48px * 1.2 *!*/
  text-transform: uppercase;
}

.catalog-list {
  display: none;
}

.dropdown:hover > .catalog-list {
  display: block;
}

/* ================ */

.slide-info > a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: .2em;
  text-transform: uppercase;
  background-color: #f0c52e;
}

.info-value {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
}

.info-text {
  font-size: 13px;
  line-height: 20px;
}

.slide-info > a:active {
  opacity: 0.3;
}

.category-item-image {
  background-color: #f7e296;
}

.category-item:hover .category-item-image  {
  background-color: #f0c52e;
}

.category-item-link:active img,
.category-item-link:active .category-item-title {
  opacity: 0.3;
}

.services {
  background-color: #e5e5e5;
}

.service-navigation label {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: .2em;
  color: #000000;
  background-color: #f0c52e;
}

.service-navigation label:active {
  color: #f7e184;
  background-color: #000000;
}

.service-navigation-current label {
  color: #f7e184;
  background-color: #000000;
}

.brands img {
  filter: grayscale(1);
  opacity: 0.2;
}

.brands-item-link:hover img {
  filter: grayscale(0);
  opacity: 1;
}

/* ================ */

.main-footer {
  background-color: #464646;
}

.main-footer a,
.main-footer p {
  color: #FFFFFF;
}

.main-footer .main-header-logo {
  color: #ffc600
}

.footer-social {
  list-style-type: none;
}

.footer-social .social-link {
  opacity: 0.3;
}

.footer-social .social-link:hover {
 opacity: 1;
}

.footer-social .social-link:active {
  opacity: 0.1;
}

.footer-bottom > a:hover {
  opacity: 0.6;
}

.footer-bottom > a:active {
  opacity: 0.3;
}
