@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: local("Gilroy Extrabold"),
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy Light"),
        url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: local("Open Sans Regular"),
        url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: local("Open Sans Light"),
        url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
}

html,
body {
  min-width: 1240px;
  min-height: 2795px;
}

body {
  font-family: "Open Sans", Arial, sans-serif;

  background-image: url("../img/device-index.jpg");
  background-size: 1240px auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.visually-hidden {
  display: none;
}

.centerer {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  height: 299px;
  margin-top: 40px;
  padding: 34px 60px 0;

  background-color: #f7e296;
  box-sizing: border-box;
  /*opacity: 0.5;*/
  /*z-index: 2;*/
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-header-logo {
  position: absolute;
  top: -18px;
  left: 59px;
  display: block;
  width: 164px;
  height: 36px;
  outline: none;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search-form {
  width: 440px;
}

.search-form-item {
  margin: 0;
}

.search-form-field {
  height: 47px;
  width: 354px;
  padding-left: 39px;
  border: none;
  border-bottom: 2px solid transparent;

  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;

  background-color: transparent;

  outline: none;
  opacity: 0.3;
}

.search-form-field::placeholder {
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
}

.search-form-field:hover {
  opacity: 0.6;
}

.search-form-field:focus {
  border-bottom-color: #000000;
  opacity: 1;
}

.search-form-item .button {
  height: 49px;
  width: 85px;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;

  margin-left: -4px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0;
  outline: none;
  visibility: hidden;
}

.search-form-item .button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.search-form-field:focus + .button {
  visibility: visible;
}

.search-form:hover .search-form-item .button:active {
  color: rgba(255, 255, 255, 0.6);
}

.search-form:active .search-form-field {
  border-bottom-color: #000000;
  opacity: 1;
}

.search-form:active .search-form-item .button:active {
  visibility: visible;
}

.user-navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  min-height: 50px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.user-navigation-link {
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
  text-decoration: none;
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.signin {
  margin-right: auto;
}

.signin .user-navigation-link {
  padding-left: 27px;
}

.user-navigation-item .exit {
  padding-left: 0;
  margin-left: 15px;
}

.compare {
  margin-right: 40px;
}

.compare .user-navigation-link {
  padding-left: 20px;
}

.cart .user-navigation-link {
  padding-left: 24px;
}

.main-navigation {
  position: relative;
  width: 1040px;
}

.main-navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 15px; /* Часть костыля для работы dropdown-menu, хотя я говорил можно было бы обойтись line-height 50 */
  list-style-type: none;
}

.main-navigation-item:last-child {
  margin-right: -3px;
  margin-left: 108px;
}

.dropdown + .main-navigation-item {
  margin-right: 34px;
}

.dropdown {
  margin-right: auto;
}

.dropdown .main-navigation-link {
  padding-right: 30px;
}

.dropdown:hover .catalog-list {
  display: flex;
  margin-top: -13px; /* У main-navigation-link по шаблону нет line-height 50px (могло бы решить проблему) */
  padding-top: 13px; /* поэтому костыль, чтобы dropdown-menu нормально появлялось и работало */
  z-index: 3;
}

.main-navigation-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;

  /*line-height: 50px; !* То самое решение, которое нельзя применить *!*/

  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation-link:hover {
  opacity: 0.6;
}

.main-navigation-link:active {
  opacity: 0.3;
}

.catalog-list {
  position: absolute;
  display: none;
  flex-direction: row;
  top: 48px;
  left: -60px;
  width: 1040px;
  min-height: 152px;
  padding: 0 60px;
  background-color: #f7e296;

  list-style-type: none;
  z-index: 3;
}

.catalog-list-link {
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
  text-decoration: none;
}

.catalog-list-link:hover {
  opacity: 0.6;
}

.catalog-list-link:active {
  opacity: 0.3;
}

.column {
  display: flex;
  flex-direction: column;

  padding-top: 10px;
  opacity: 0.5;
}

.column:first-child {
  margin-right: 58px;
}

.column:last-child {
  margin-left: 76px;
}

/* Styles for Main block */

main.container {
  position: relative;
  z-index: 1;
}

.slider {
  position: relative;
  height: 486px;
}

.slider-control {
  position: absolute;
  right: 82px;
  bottom: 245px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
  height: 12px;

  list-style-type: none;
  z-index: 2;
}

.slide {
  position: relative;
  top: -111px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 497px;
}


.slide-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 580px;
  min-height: 497px;
}

.slide-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 560px;
  min-height: 497px;
}

.slide-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 55px; /* Временно */
  font-weight: 800;
  letter-spacing: 0.01em;

  margin: 0;
  margin-bottom: 20px; /* Временно */
}

.slide-description {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;

  margin: 0;
  margin-bottom: 44px;
}

.info-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 91px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.info-item:not(:last-child) {
  margin-right: 77px;
}

.info-value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;

  margin: 0;
  margin-bottom: 11px;
}

.slide-info-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;

  margin: 0;
}

.slide-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  padding: 10px 43px;
  margin-bottom: 52px;
}

.slide-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.category-list {
  position: relative;
  top: -5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.category-item {
  width: 160px;
}

.category-item-link {
  text-decoration: none;
  color: #000000;
}

.category-item-image {
  width: 160px;
  height: 160px;
  margin-bottom: 35px;

  background-color: rgba(240, 197, 46, 0.5);
}

.category-item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.01em;

  word-wrap: break-word;
}
/* ----- Сделал до сюда ----- */













.category-item:hover .category-item-image  {
  background-color: rgba(240, 197, 46, 1);
}

.category-item-link:active .category-item-image img,
.category-item-link:active .category-item-title {
  opacity: 0.3;
}

.services {
  background-color: #e5e5e5;
}

.service-navigation {
  list-style-type: none;
}

.service-navigation label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;

  background-color: #f0c52e;
}

.service-navigation label:active {
  color: #f7e184;

  background-color: #000000;
}

.service-navigation-current label {
  color: #f7e184;

  background-color: #000000;
}

.service-item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.service-item-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.brands-list {
  list-style-type: none;
}

.brands-item-link img {
  filter: grayscale(1);
  opacity: 0.2;
}

.brands-item-link:hover img {
  filter: grayscale(0);
  opacity: 1;
}

.info-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.info-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.deliveries-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.info-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;

  background-color: #f0c52e;
}

.info-link:active {
  color: #f7e184;

  background-color: #000000;
}

.contacts-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.contacts-text {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.contacts-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;

  background-color: #f0c52e;
}

.contacts-link:active {
  color: #f7e184;

  background-color: #000000;
}

/* Страница каталога */

.catalog-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

.catalog-header {
  background-color: rgba(0, 0, 0, 0.08);
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sort-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sort-type-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
}

.sort-type-link:hover {
  opacity: 0.6;
}

.sort-type-link:active {
  opacity: 1;
}

.sort-type-link.filter-current {
  opacity: 1;
}

.sort-direction-link {
  font-size: 14px; /* Временно, пока без иконок */
  font-weight: 400; /* Временно, пока без иконок */
  line-height: 18px; /* Временно, пока без иконок */
  color: #000000; /* Временно, пока без иконок */
  text-decoration: none; /* Временно, пока без иконок */
  opacity: 0.3;
}

.sort-direction-link:hover {
  opacity: 0.6;
}

.sort-direction-link:active {
  opacity: 1;
}

.sort-direction-link.filter-current {
  opacity: 1;
}

.catalog-filter {
  background-color: rgba(0, 0, 0, 0.08);
}

legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: .01em;
}

.coast-range-count span {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  opacity: 0.2;
}

.filter-list {
  list-style-type: none;
}

.filter-input:disabled {
  opacity: 0.25;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.filter-input:not(:disabled):hover,
.filter-input:not(:disabled):hover + label {
  opacity: 0.6;
}

.filter-input:not(:disabled):active,
.filter-input:not(:disabled):active + label {
  opacity: 1;
}

.filter-input + label {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.catalog-filter-form button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
  border: none;
}

.catalog-filter-form button:active {
  color: #f7e184;

  background-color: #000000;
  outline: none;
}

.product:hover .product-image {
  opacity: 0.7;
}

.product-link {
  color: #000000;
  text-decoration: none;
}

.product-layout button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
  border: none;
  outline: none;
}

.product-layout button:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-layout-link {
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
  text-decoration: none;
  opacity: 0.5;
}

.product-layout-link:hover {
  opacity: 1;
}

.product-layout-link:active {
  opacity: 0.2;
}

.product-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}

.pagination-list {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-link:hover {
  opacity: 0.6;
}

.pagination-link:active,
.pagination-link:focus {
  opacity: 1;
}

.pagination-item-current .pagination-link {
  opacity: 1;
}

.previous .pagination-link,
.forward .pagination-link {
  opacity: 1;
}

.previous:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.previous .pagination-link:active,
.forward .pagination-link:active {
  opacity: 0.3;
}

.write-us-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
}

.write-us-form input,
.write-us-form textarea {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #464646;

  background-color: #e5e5e5;
  border: 2px solid transparent;
  opacity: 0.5;
  outline: none;
}

.write-us-form input::placeholder,
.write-us-form textarea::placeholder {
  opacity: 0.4;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  opacity: 0.8;
}

.write-us-form input:hover::placeholder,
.write-us-form textarea:hover::placeholder {
  opacity: 0.4;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border-color: rgba(240, 197, 46, 0.5);
  background-color: #FFFFFF;
  opacity: 1;
  outline: none;
}

.write-us-form input:focus::placeholder,
.write-us-form textarea:focus::placeholder {
  opacity: 1;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  border-color: transparent;
}

.write-us-form input:invalid:hover,
.write-us-form input:invalid:focus,
.write-us-form textarea:invalid:hover,
.write-us-form textarea:invalid:focus {
  opacity: 0.5;
}

.modal button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
  border: none;
  outline: none;
}

.modal button:active {
  color: #f7e184;
  background-color: #000000;
}

/* Styles for Footer block */

.main-footer {
  background-color: #464646;
}

.main-footer .main-header-logo {
  color: #ffc600;
}

.main-footer .user-navigation-link {
  color: #FFFFFF;
  opacity: 0.7;
}

.main-footer .address {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #FFFFFF;
}

.main-footer .main-navigation-link {
  color: #FFFFFF;
}

.main-footer .phone {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-social {
  list-style-type: none;
}

.social-link {
  font-size: 15px; /* Временно, пока без иконок */
  font-weight: 300; /* Временно, пока без иконок */
  line-height: 30px; /* Временно, пока без иконок */
  color: #FFFFFF; /* Временно, пока без иконок */
  text-decoration: none; /* Временно, пока без иконок */
  opacity: 0.3;
}

.social-link:hover {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

.htmlacademy-link:hover {
  opacity: 0.6;
}

.htmlacademy-link:active {
  opacity: 0.3;
}
